<mat-nav-list>
  <router-outlet name="navbar"></router-outlet>
  <!-- Navlist items -->
  <!--  <a mat-list-item [routerLink]="['/base64']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
  <!--    <mat-icon mat-list-icon fontSet="fa" fontIcon="fa-wrench" color="accent"></mat-icon>-->
  <!--    <span mat-line>Base64 utils</span>-->
  <!--  </a>-->

  <div class="fill"></div>

  <mat-divider></mat-divider>
  <router-outlet name="navbar-admin"></router-outlet>
  <a mat-list-item (click)="onLogout()">
    <mat-icon mat-list-icon fontSet="fa" fontIcon="fa-sign-out-alt" color="accent"></mat-icon>
    <span mat-line>Logout</span>
  </a>
</mat-nav-list>
