<div class="container">
  <img *ngIf="logo" [src]="logo" alt="Application logo" class="logo" />
  <h1 class="mat-display-1">{{ appName }} login</h1>
  <mat-card fxFlex="1 1 auto" fxLayout="column">
    <mat-card-content>
      <button mat-raised-button color="accent" (click)="loginWithGoogle()">Login with Google</button>

      <mat-error *ngIf="error$ | async as error"> Login failed: {{ error }} </mat-error>
    </mat-card-content>

    <mat-card-actions>
      <!-- <p>Don't have a user yet? <a routerLink="/register">Register now</a></p> -->
    </mat-card-actions>
  </mat-card>
</div>
